<!doctype html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="utf-8">
        <meta  charset="utf-8">
        <title>products</title>
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
    </head>
    <body>
<div class="container">
  
    <div class="card">
        <div class="imgBx">
                <img src="" alt="" width="300" height="300">
            </div>
            <div class="content">
                <h2>product one</h2>
                <p>lorekjj ugs gysa sgyxs ygxs uyx x</p>
                
            </div>
      
    </div>
</div>
    {% comment %} <div class="card">
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3> card two</h3>
                <p> lorem ispum uyddgv dytd ytd ddy y </p>
                <a href="#" >Read more</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3> card three</h3>
                <p> lorem ispum uyddgv dytd ytd ddy y </p>
                <a href="#" >Read more</a>
            </div>
        </div>
    </div> {% endcomment %}

</body>
</html>