<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Shop</title>

     <link rel="stylesheet" href="{% static 'images/Dependencies/bootstrap.css' %}">

     <link rel="stylesheet" href="{% static 'images/Dependencies/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



       <link rel="stylesheet" href="{% static 'images/Dependencies/owl.carousel.min.css' %}">



       <link rel="stylesheet" href="{% static 'images/Dependencies/owl.theme.default.min.css' %}">

         <link rel="stylesheet" href="{% static 'css/wines.css' %}">
</head>

<body>




    <section class="pt-pb">

        <div>
            <div class="master-slider" id="masterslider">
                <div class="ms-slide slide-1" style="z-index: 10;">
                    <img src="{% static 'images/wines/images/wbg1.jpg' %}" alt="">

                    <h3 class="ms-layer bold-title" style="left: 20px; top: 250px; color: #d9932f; font-weight: 400;"
                        data-effect="right(250)" data-duration="3500" data-delay="200" data-ease="easeOutExpo">The Best
                        Collections 2021</h3>
                    <h3 class="ms-layer light-title"
                        style="left: 20px; top: 300px; color: #fff; font-weight: 900; letter-spacing: 1px;"
                        data-effect="left(short)" data-duration="3500" data-delay="300" data-ease="easeOutExpo">
                        AMAZING
                    </h3>
                    <h1 class="ms-layer light-title"
                        style="left: 20px; top: 350px; color: #fff; font-weight: 900; letter-spacing: 0.5px;"
                        data-effect="left(short)" data-duration="3500" data-delay="350" data-ease="easeOutExpo">WINESHOP
                    </h1>
                    <a href="#" class="ms-layer"
                        style="left: 20px; top: 424px; color: #fff; font-weight: 400; letter-spacing: 0.5px; margin: 0 ; font-size: 14px; line-height: 20px; border: 1px solid #fff; padding: 10px 20px;"
                        data-effect="left(short)" data-duration="3500" data-delay="300" data-ease="easeOutExpo">SHOP
                        NOW</a>
                </div>
                <div class="ms-slide slide-2" style="z-index: 13;" data-delay="10">
                    <img src="{% static 'images/wines/images/wbg2.jpg' %}" alt="">

                    <h3 class="ms-layer bold-title" style="left: 20px; top: 250px; color: #d9932f; font-weight: 400;"
                        data-effect="right(250)" data-duration="3500" data-delay="200" data-ease="easeOutExpo">The Best
                        Collections 2021</h3>
                    <h3 class="ms-layer light-title"
                        style="left: 20px; top: 300px; color: #fff; font-weight: 900; letter-spacing: 1px;"
                        data-effect="left(short)" data-duration="3500" data-delay="300" data-ease="easeOutExpo">
                        AMAZING
                    </h3>
                    <h1 class="ms-layer light-title"
                        style="left: 20px; top: 350px; color: #fff; font-weight: 900; letter-spacing: 0.5px;"
                        data-effect="left(short)" data-duration="3500" data-delay="350" data-ease="easeOutExpo">WINESHOP
                    </h1>
                    <a href="#" class="ms-layer"
                        style="left: 20px; top: 424px; color: #fff; font-weight: 400; letter-spacing: 0.5px; margin: 0 ; font-size: 14px; line-height: 20px; border: 1px solid #fff; padding: 10px 20px;"
                        data-effect="left(short)" data-duration="3500" data-delay="300" data-ease="easeOutExpo">SHOP
                        NOW</a>
                </div>
            </div>
        </div>

    </section>






       <script rel="stylesheet" href="{% static 'images/Dependencies/jquery.min.js' %}"></script>

          <script rel="stylesheet" href="{% static 'images/Dependencies/jquery.easing.min.js' %}"></script>


       <script rel="stylesheet" href="{% static 'images/Dependencies/bootstrap.min.js' %}"></script>



      <script rel="stylesheet" href="{% static 'images/Dependencies/masterslider.min.js' %}"></script>


      <script rel="stylesheet" href="{% static 'images/Dependencies/owl.carousel.min.js' %}"></script>


<script src="{% static 'js/wines.js' %}"></script>
</body>

</html>