<!DOCTYPE html>
{% load static%}

    <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Bootstrap demo</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'dasboard/dashbaordtypes.css' %}">

</head>
<body>
 {% include 'dashboard/dashboardnav.html'  %}


<div class="container">

    <h1 class="heading">our Dasboards</h1>

    <div class="box-container">
        {% for res in res %}

        <div class="box">
            <img src="image/icon-1.png" alt="">
            <h3>{{ res.dashboard_type }}</h3>
            
            <a href="{% url 'view_dashboard' res.id %}" ><button type="button" class="btn btn-outline-warning">View</button>
            </a>
        </div>
        {% endfor%}

        

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>